<h2 class="mt-4">Groups</h2>
<h4 class="mt-4">Create New Group</h4>

<div class="form-group mt-3" *ngIf="isSuperAdmin()">
  <label for="groupName">Group Name</label>
  <input [(ngModel)]="newGroupName" type="text" id="groupName" class="form-control" placeholder="Enter group name" />

  <button (click)="createGroup()" class="btn btn-primary mt-3">Create Group</button>
</div>

<table class="table table-bordered mt-3" *ngIf="groups.length > 0">
  <thead>
  <tr>
    <th>Group Name</th>
    <th>Channels</th>
    <th>Admins</th>
    <th>Members</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td>{{ group.groupName }}</td>

    <!-- Channels column -->
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let channel of group.channels">
          {{ channel }}

          <!-- Channel Delete Option (only for group admins and super admins) -->
          <button *ngIf="isSuperAdmin()" (click)="removeChannelFromGroup(group._id, channel)" class="btn btn-danger btn-sm">
            Del
          </button>
        </li>
      </ul>
      <!-- Add New Channel -->
      <div *ngIf="isSuperAdmin()">
        <input #channelNameInput class="form-control mt-2" placeholder="New channel name" />
        <button (click)="addChannelToGroup(group._id, channelNameInput.value); channelNameInput.value=''" class="btn btn-primary btn-sm mt-2">
          Create
        </button>
      </div>
    </td>

    <!-- Admins column -->
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let adminId of group.admins">
          {{ getUsernameById(adminId) }}
        </li>
      </ul>
    </td>

    <!-- Members column -->
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let memberId of group.members">
          {{ getUsernameById(memberId) }}
          <span class="d-flex">
              <!-- Upgrade to Admin Button (only for super admins) -->
              <button *ngIf="isSuperAdmin() && !group.admins.includes(memberId)" (click)="upgradeToAdmin(group._id, memberId)" class="btn btn-sm btn-success mr-2">
                Promote to Admin
              </button>
            <!-- Remove Member Button (only for group admin or super admin) -->
              <button *ngIf="isSuperAdmin()"
                      (click)="removeUserFromGroup(group._id, memberId, 'member')"
                      class="btn btn-sm btn-danger">
                Ban
              </button>
            </span>
        </li>
      </ul>
    </td>

    <!-- Actions Column (Only show for Super Admin and Group Admin) -->
    <td *ngIf="isSuperAdmin()">
      <button (click)="deleteGroup(group._id)" class="btn btn-danger btn-sm">Delete Group</button>
    </td>
  </tr>
  </tbody>
</table>
<p *ngIf="groups.length === 0">No groups available.</p>
