<div class="d-flex justify-content-center align-items-center vh-100">
  <div>
    <div class="card" style="width: 36rem;">
      <div class="card-body">
        <!-- Show success message -->
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
        <form (ngSubmit)="onSubmit()">
          <div class="m-4" style="display: flex; flex-direction: column; gap: 24px;">
            <!-- User Name -->
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="email" [(ngModel)]="username" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <!-- Password -->
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <!-- Error Message (if login fails) -->
            <div *ngIf="loginError" class="alert alert-danger" role="alert">
              Invalid username or password. Please try again.
            </div>
            <!-- Submit Button -->
            <button type="submit" class="mt-2 btn btn-primary">Submit</button>
          </div>
        </form>
        <!-- Link to Create New Account -->
        <div class="text-center mt-4">
          <a [routerLink]="['/register']" class="btn btn-link">Create New Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
