<div *ngIf="groups.length > 0; else noData">
  <h2>Groups</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
      <th>Created By</th>
      <th>Admins</th>
      <th>Members</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.groupId }}</td>
      <td>{{ group.groupName }}</td>
      <td>{{ getUsernameById(group.createdBy) }}</td>
      <td>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let admin of group.admins">
            {{ getUsernameById(admin) }}
          </li>
        </ul>
      </td>
      <td>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let member of group.members">
            {{ getUsernameById(member) }}
          </li>
        </ul>
      </td>
      <td>
        <button (click)="deleteGroup(group.groupId)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<h3>Create New Group</h3>
<form (submit)="createGroup()">
  <input type="text" [(ngModel)]="newGroup.groupName" placeholder="Group Name" name="groupName" required>
  <input type="number" [(ngModel)]="newGroup.createdBy" placeholder="Created By (User ID)" name="createdBy" required>
  <button type="submit" class="btn btn-primary">Create Group</button>
</form>

<hr>

<h2>Users</h2>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>
      <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<h3>Create New User</h3>
<form (submit)="createUser()">
  <input type="text" [(ngModel)]="newUser.username" placeholder="Username" name="username" required>
  <input type="email" [(ngModel)]="newUser.email" placeholder="Email" name="email" required>
  <input type="password" [(ngModel)]="newUser.password" placeholder="Password" name="password" required>
  <button type="submit" class="btn btn-primary">Create User</button>
</form>

<ng-template #noData>
  <p>No groups found.</p>
</ng-template>
