<h2 class="mt-4">Groups</h2>

<table class="table table-bordered mt-3" *ngIf="groups.length > 0">
  <thead>
  <tr>
    <th>Group ID</th>
    <th>Group Name</th>
    <th>Channels</th>
    <th>Admins</th>
    <th>Members</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td>{{ group.groupId }}</td>
    <td>{{ group.groupName }}</td>
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let channel of group.channels">
          {{ channel.channelName }} <!-- Correct property for channel name -->
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let admin of group.admins">
          {{ getUsernameById(admin) }}
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let member of group.members">
          {{ getUsernameById(member) }}
        </li>
      </ul>
    </td>
    <td>
      <button (click)="deleteGroup(group.groupId)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<p *ngIf="groups.length === 0">No groups available.</p>
