<h2 class="mt-4">Groups</h2>

<table class="table table-bordered mt-3" *ngIf="groups.length > 0">
  <thead>
  <tr>
    <th>Group ID</th>
    <th>Group Name</th>
    <th>Channels</th>
    <th>Admins</th>
    <th>Members</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td>{{ group.groupId }}</td>
    <td>{{ group.groupName }}</td>

    <!-- Channels column -->
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let channel of group.channels">
          {{ channel.channelName }}
          <button (click)="removeChannelFromGroup(group.groupId, channel.channelId)" class="btn btn-danger btn-sm">
            Del
          </button>
        </li>
      </ul>
    </td>

    <!-- Admins column -->
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let admin of group.admins">
          {{ getUsernameById(admin) }}
        </li>
      </ul>
    </td>

    <!-- Members column -->
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let member of group.members">
          {{ getUsernameById(member) }}
          <span class="d-flex">
            <!-- Upgrade to Admin Button (if not an admin) -->
            <button *ngIf="!group.admins.includes(member)" (click)="upgradeToAdmin(group.groupId, member)" class="btn btn-sm btn-success mr-2">
              Pro
            </button>
            <!-- Remove Member Button -->
            <button (click)="removeUserFromGroup(group.groupId, member, 'member')" class="btn btn-sm ps-2 btn-danger">
              Ban
            </button>
          </span>
        </li>
      </ul>
    </td>
    <td>
    <div><input [(ngModel)]="group.newChannelName" class="form-control mb-2" placeholder="New channel name" /></div>
    <div><button (click)="addChannelToGroup(group.groupId, group.newChannelName)" class="btn btn-primary btn-sm mb-2">Create</button></div>
    <div><button (click)="deleteGroup(group.groupId)" class="btn btn-danger btn-sm">Delete Group</button></div>
  </td>

  </tr>
  </tbody>
</table>
<p *ngIf="groups.length === 0">No groups available.</p>
