<h2 class="mt-4">Groups</h2>

<table class="table table-bordered mt-3" *ngIf="groups.length > 0">
  <thead>
  <tr>
    <th>Group ID</th>
    <th>Group Name</th>
    <th>Channels</th>
    <th>Admins</th>
    <th>Members</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td>{{ group.groupId }}</td>
    <td>{{ group.groupName }}</td>
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let channel of group.channels">
          {{ channel?.channelName }}
          <button (click)="removeChannelFromGroup(group.groupId, channel.channelId)" class="btn btn-sm btn-danger">Remove</button>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let admin of group.admins">
          {{ getUsernameById(admin) }}
          <button (click)="removeUserFromGroup(group.groupId, admin, 'admin')" class="btn btn-sm btn-danger">Remove</button>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let member of group.members">
          {{ getUsernameById(member) }}
          <!-- Remove member button -->
          <button (click)="removeUserFromGroup(group.groupId, member, 'member')" class="btn btn-sm btn-danger">
            Remove Member
          </button>

          <!-- Upgrade to Admin button, visible only if the user is not already an admin -->
          <button *ngIf="!group.admins.includes(member)"
                  (click)="upgradeToAdmin(group.groupId, member)"
                  class="btn btn-sm btn-success">
            Promote
          </button>
        </li>
      </ul>
    </td>
    <td>
      <button (click)="deleteGroup(group.groupId)" class="btn btn-danger">Delete Group</button>
    </td>
  </tr>
  </tbody>
</table>
<p *ngIf="groups.length === 0">No groups available.</p>
